
.footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c000c;
    border-top: 2px solid #ff6600;
    color: #ffcc99;
    font-size: 0.9rem;
}
